/* font-family: 'Roboto', sans-serif; */

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 75px;
  text-align: center;
  margin-bottom: 75px;
}

main {
  display: flex;
  border: solid 3px black;
  height: 100%;
}

.main-box {
  border: solid 3px pink;
  width: 70%;
}

.copy {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.color-field {
  height: 120px;
  width: 120px;
  border: solid 3px red;
}

.box-view {
  border: solid 3px red;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-bottom: 75px;
}

.unit {
  height: 200px;
  width: 120px;
  border: solid 3px black;
}

.unlock1, .locked1, .unlock2, .locked2, .unlock3, .locked3,
.unlock4, .locked4, .unlock5, .locked5  {
  height: 15px;
  width: 15px;
}


.locked {
  color: blue;
}

.hex {
  border: solid 3px green;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  border-radius: 0;
  box-shadow: 2px 2px black;
  padding: 12px;
  font-size: 20px;
  background: white;

  font-family: "Roboto", sans-serif;
}

.saved-box {
  border: solid 3px blue;
  background: white;
  width: 30%;
  border-style: ridge;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.hidden {
  display: none;
}
